services:
services:
  # 1. The Dashboard (Web Service)
  - type: web
    name: crypto-pulse-api
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn web_api:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12

  # 2. The Scanner & Bot (Background Worker)
  - type: worker
    name: crypto-scanner-bot
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: python run_bot.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12